@import '../../sass/_variables.scss';

.educationContainer {
    display: flex;
    flex-flow: row wrap;
    gap: .5rem;
}

.educationCard {
    width: 100%;
    padding: .25rem;
}

.educationCardTitle {
    color: $teal;
}

.educationCardTitle {
    margin: 0 0 .5rem;
}

.educationCardText {
    margin: 0;
}