@import '../../sass/_variables.scss';
@import '../../sass/_fonts.scss';

.myWorkTitle {
    margin-top: 0;
    margin-bottom: 1rem;
    color: $teal;
    font-family: OpenSauceSansBold;
}

.myWorkSubtitle {
    margin: 0 0 1rem;
    font-family: OpenSauceSansBold;
}

.myWorkText {
    margin: 0 0 1rem;

    &:last-of-type {
        margin: 0;
    }
}

.resumeLink,
.portfolioLink {
    font-family: OpenSauceSansRegular;
    display: inline-flex;
    gap: .25rem;
    padding: 0 0 .25rem;
    text-decoration: underline;
    color: $teal;
    outline-color: $teal;
    font-weight: bold;

    &:visited {
      color: $teal;
      &:hover {
        color: $teal;
      }
    }
}

.resumeLink {
    margin: 1rem 0 0;
}

.portfolioLink {
    margin: 0 0 1rem;
}

.storybookLink {
    outline-color: $teal;
    color: $teal;
    font-weight: bold;

    &:hover {
        color: $teal;
    }

    &:visited {
        color: $teal;
    }
}